<html>
 <head>
   <title>Simple registration form</title>
   <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
 <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
</head>

<div class="main-block">
<h1>Create New Club</h1>
<form action="/">
<hr>
<input type="text"[(ngModel)]="user.name" name="name" id="name" placeholder="Name" required>
<input type="text" [(ngModel)]="user.location" name="name" id="name" placeholder="Location" required>
 <hr>
<div class="btn-block">
<button type="submit" (click)="registernow()">Submit</button>
 </div>
 <div class="message"><p style="color:red;">{{message}}</p></div>
</form>
</div> 
</html>